/* Saltos de página para exportar a PDF */
@media print {
  h1:not(:first-of-type) {
    page-break-before: always;
  }

  @media print {
    .pagebreak {
      display: block;
      page-break-before: always;
      visibility: hidden;
      height: 0;
      margin: 0;
      padding: 0;
    }
  }

  h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }

  pre, blockquote {
    page-break-inside: avoid;
  }
}
